<template name="Relationship_show">
<div class='col-xs-12 col-md-6 col-lg-3'>
  <h4 class='text-uppercase'>Datos <small></small></h4>
{{#if rel}}

  {{#with rel}}
    <!--  <div class="well well-sm well-clickable rel-edit" id='{{_id}}'>-->
      <!--<i id='the i' class='fa fa-file-text'></i>--><!--<input class='phantom' id='input-phantom' value=' {{notes}}'/>-->
      <div class="form-group ">
  <textarea class="form-control phantom" rows="5" id="input-phantom">{{notes}}</textarea>
</div>
      {{#if showSaveBtn}}
        <button id="btn-save" class='btn btn-lg btn-success'>GUARDAR</button>
      {{/if}}
  <!--  </div>-->
      {{#if paymentNotes}}
      <div class="well well-sm">
        <p><i class='fa fa-credit-card'></i> {{paymentDays}} {{paymentTerms}} {{paymentNotes}}</p>
      </div>

      {{/if}}
  {{/with}}
  {{else}}
    {{>RelationshipWithCustomer_create}}
  {{/if}}
</div>
</template>
