<template name="Place_show">

  {{#if places}}
    <div class='col-xs-12 col-md-6 col-lg-3'>
      <h4 class='text-uppercase'>Direcciones
        <small></small>
      </h4>
      {{#momentum plugin='growl'}}
        {{#each places}}
          {{#if editingId placeId}}
            {{> Place_edit}}
            {{else}}
            <div class='well well-sm {{#if deleting}}shake{{/if}}' data-action='edit' id={{_id}}>
              {{#if deleting}}
                <div class='text-right'>
                  <button class='btn btn-danger' data-action='delete-item'>
                    X
                  </button>
                </div>
              {{/if}}
              <p class='text-left text-info'>
                <!--<small>{{{convertPlaceTypeOption placeType}}}</small>-->
                <small>{{{convertPlaceTypeOption placeType}}}</small>
              </p>
              <div class='row'>
                <div class='col-xs-8 col-md-8 col-lg-8'>
                  <i class='text-muted fa fa-map-marker'></i>
                  {{route}}
                  {{street_number}},
                  {{locality}}

                </div>
                <div class='col-xs-4 col-md-4 col-lg-4'>
                  {{#if phone}}
                    <a class='btn btn-lg btn-primary' data-action='phone' href='tel:{{phone}}'>
                      <i class="fa fa-phone"></i>
                    </a>
                  {{/if}}
                </div>

              </div>
              <!--<div class='col-xs-8 col-md-8 col-lg-8'>
                {{administrative_area_level_2}}
              </div>
              <div class='col-xs-8 col-md-8 col-lg-8'>
                {{administrative_area_level_1}}
              </div>
              <div class='col-xs-8 col-md-8 col-lg-8'>
                {{country_short}}
              </div>-->

            <div class='row'>
              <div class='col-xs-8 col-md-8 col-lg-8'>
                  {{notes}}
              </div>
            </div>
          </div> <!--well-->
            

        {{/if}}
      {{/each}}
    {{/momentum}}
 </div><!--col-->

{{/if}}
</template>
