<template name="Place_edit">
  <div class='panel panel-warning'>
    <div class='panel-heading'>
      EDITAR LUGAR
    </div>
    <div class='panel-body' >
      <form role='form' data-action='save-edit'>
        <div class='form-group'>
          <label for='type'>Este lugar es ...</label>
          <select name='type' id='placeType' class='form-control' value='3'>
            <option value='1' > la oficina principal </option>
            <option value='2' > el dep&oacute;sito donde reciben mercader&iacute;a </option>
            <option value='3' > donde se retiran pagos </option>
          </select>
        </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class='fa fa-map-marker'></i></span>
        <input id='address' type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" value='{{address}}'>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">T</span>
        <input id='text' type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" value='{{text}}'>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class='fa fa-phone'></i></span>
        <input id='phone' type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" value='{{phone}}'>
      </div>
      <br>
      <button class='btn btn-success' type='submit' >GUARDAR</button>
    </form>

    </div>
  </div>
</template>
