<template name="Dashboard">
  <div class='row'>
    <div class='col-xs-12 col-md-12 col-lg-12'>
      <h1 class='shadow'>PANEL</h1>
      <hr>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12 col-md-12 col-lg-12'>

      {{#if showCreateOptions}}
        {{> Create_options}}
        {{else}}
        <button id="btn-create" class="btn btn-primary">CREAR</button>
      {{/if}}
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-12 col-md-6 col-lg-4'>
    <p class='text-left text-info'><small>BUSCAR</small></p>
  {{> Search_actode}}
</div>
<a class='btn btn-primary' href="/show-generics">MOSTRAR GENERICOS</a>

</div>

<!--{{> Template.dynamic template=createArea}}-->
</template>
