@import '../base/mixins.import.less';
@import '../base/variables.import.less';

.component-colored-info {
}

body {
  /*background: url('Blur-3.png');
  background-size: 2500px 1600px;
  background-color: #333;
background-repeat:no-repeat;
display: compact;
background-position: center center;*/

//

/*	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);*/



    background-color:@color1;
    background:-webkit-gradient(linear, left bottom, left top, color-stop(@stop1, @color1), color-stop(@stop2, @color2), color-stop(@stop3, @color3), color-stop(@stop4, @color4));
    background:-moz-linear-gradient(center bottom, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
     background:-ms-linear-gradient(center bottom, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
    background:-o-linear-gradient(center bottom, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
    background:linear-gradient(center bottom, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
    -pie-background: linear-gradient(@color1, @color2, @color3, @color4);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", @color1, @color4));

    background-repeat:no-repeat;
    //display: compact;
    //background-position: center center;
    //background-size:auto;
    //background-size: 1200px 900px;




//
}

.navbar {
  background-color: @white-alpha;
}

.well, .panel {
  background-color: @white-alpha;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.btn:active {
  box-shadow: 0 3px #999;
  transform: translateY(2px);
}

.well-clickable:active {
  box-shadow: 0 3px #999;
  transform: translateY(4px);
}

.phantom {
  background-color: @white-alpha;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);

  border:none;
}

.phantom:active {
  box-shadow: 0 3px #999;
  transform: translateY(4px);

}


.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0) rotate(0deg) translateY(0);}
    15%, 35%, 55%, 75%, 95% {-webkit-transform: translateX(-1px) rotate(-1deg) ;}
    25%, 45%, 65%, 85% {-webkit-transform: translateX(1px) rotate(1deg); }
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateY(1px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateY(-1px); }
}
@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0) rotate(0deg) translateY(0);}
    15%, 35%, 55%, 75%, 95% {-moz-transform: translateX(-1px) rotate(-1deg) ;}
    25%, 45%, 65%, 85% {-moz-transform: translateX(1px) rotate(1deg); }
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateY(1px);}
    20%, 40%, 60%, 80% {-moz-transform: translateY(-1px); }
}

@-o-keyframes shake {
     0%, 100% {-o-transform: translateX(0) rotate(0deg) translateY(0);}
    15%, 35%, 55%, 75%, 95% {-o-transform: translateX(-1px) rotate(-1deg) ;}
    25%, 45%, 65%, 85% {-o-transform: translateX(1px) rotate(1deg); }
    10%, 30%, 50%, 70%, 90% {-o-transform: translateY(1px);}
    20%, 40%, 60%, 80% {-o-transform: translateY(-1px); }
}

@keyframes shake {
    0%, 100% {transform: translateX(0) rotate(0deg) translateY(0);}
    15%, 35%, 55%, 75%, 95% {transform: translateX(-1px) rotate(-1deg) ;}
    25%, 45%, 65%, 85% {transform: translateX(1px) rotate(1deg); }
    10%, 30%, 50%, 70%, 90% {transform: translateY(1px);}
    20%, 40%, 60%, 80% {transform: translateY(-1px); }
}
.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transition-timing-function:linear;
}
