<template name="Rel_customer_show">

                    <p>{{rel.notes}}</p>
                    <p>
                      
                
                    {{#if rel.paymentDays}}
                        
                          <i class='fa fa-money'></i>
                    
                      
                      {{/if}}
                      {{rel.paymentDays}}
                      {{rel.paymentTerms}}
                      {{rel.paymentNotes}}
                          </p>
</template>