<template name="Contact_show">

    {{#if rel}}
    <div class='col-xs-12 col-md-6 col-lg-3'>

      <div class='component-colored-info'>
        <h4 class='text-uppercase'>
          Contactos
        </h4>
        <div class=''>
          {{#each rel}}
          {{notes}}
          {{#with contact origin}}

              <div class='well well-clickable well-sm {{#if deleting}}shake{{/if}}' id='{{_id}}' data-action='show-profile'>

                <div class='row'>
                  <div class='col-xs-12 col-md-12 col-lg-12'>
                    {{#if deleting}}
                      <div class='text-right'>
                        <button class='btn btn-danger shadow' data-action='delete-item'> X </button>
                      </div>
                    {{/if}}
                    <h4 class='text-info'>
                  {{treatedAs}}</h4>


                  </div>
                </div>
                <div class='row'>
                  <div class='col-xs-6 col-md-6 col-lg-4'>
                    <p class='text text-muted'>
                      <small class='text-muted'>
                        {{#if isMale}}
                          <i class='fa fa-mars'> </i>{{else}}
                          <i class='fa fa-venus'> </i>
                        {{/if}}

                      </small>
                      {{#if formalTreatment}}
                        <span class='label label-warning'>FORMAL</span>
                      {{/if}}
                    </p>
                  </div>

                  <div class='col-xs-3 col-md-3 col-lg-4'>
                    {{#if email}}

                      <a class='btn btn-lg btn-primary' href='mailto:{{email}}' data-action='email'>
                        <i class='fa fa-envelope'></i>
                      </a>

                    {{/if}}

                  </div>
                  <div class='col-xs-3 col-md-3 col-lg-4'>

                    {{#if mobile}}
                      <a class='btn btn-lg btn-primary' href='tel:{{mobile}}' data-action='mobile'>
                        <i class='fa fa-whatsapp'></i>
                      </a>
                    {{/if}}

                  </div>

                </div>
              </div>
              {{/with}}
              
          {{/each}}
        </div>
      </div>
    </div>

    {{/if}}
</template>
